.media{
	padding-top: 20px;
}

#nicoscreen{
	width: 1024px;
	height: 576px;
	text-align: center;
}

#comment_list{
	width: 1024px;
}

#comment_text{
	width: 934px;
	height: 36px;
}

.love {
  background-image: image-url("parts5");
  background-repeat: no-repeat;
  height: 36px;
  width: 36px;
  background-size: 36px !important;
}

.loved {
  background-image: image-url("parts7");
  background-repeat: no-repeat;
  height: 36px;
  width: 36px;
  background-size: 36px !important;
}

.hide-text {
  display: block;
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
}